In [1]:
print(9+8)

17

In [3]:
a = 10
b = 3
print(a+b)

13

### Input

In [6]:
abc=input("Enter a Name:") #all inputs are strings by default

Enter a Name: jajj

In [12]:
num1 = int(input("Enter 1st Number:"))
num2 = int(input("Enter 2nd Number:"))
print(f"the addition is {num1 + num2}")
print(f"the subtraction is {num1 - num2}")
print(f"the multiplication is {num1 * num2}")

Enter 1st Number: 2
Enter 2nd Number: 3

the addition is 5
the subtraction is -1
the multiplication is 6

In [13]:
print(3**4)

81

### Conditional Statement

In [1]:
x = 5
if x<10:
    print("smaller")
if x>20:
    print("bigger")

print("finish")

smaller
finish

### Comparision Operators

In [3]:
x = 5
if x == 5 :
    print("Equals 5")
if x > 4 :
    print("Greater than 4")
if x >= 5 :
    print("Greater then equals to 5")
if x < 6 :
    print("Less than 6")
if x!= 6 :
    print("Not euqals 6")

Equals 5
Greater than 4
Greater then equals to 5
Less than 6
Not euqals 6

### One way Decisions

In [4]:
x = 5
print("before 5")
if x == 5:
    print("is 5")
    print("is still 5")
    print("third 5")
print("afterwards 5")
print("before 6")
if x == 6:
    print("is 6")
    print("is still 5")
    print("third 6")
print("afterwards 5")

before 5
is 5
is still 5
third 5
afterwards 5
before 6
afterwards 5

### Two way decisions

In [8]:
x = 2
if x > 2 :
    print("bigger")
else :
    print("smallest")
print("all done")

smallest
all done

### Try & Except

In [4]:
astr = 'Hello Bob'
istr = int(astr) //error
print("first",istr)

astr = '123'
istr = int(astr)

ValueError: invalid literal for int() with base 10: 'Hello Bob'

In [7]:
astr = 'Hello Bob'
try :
    istr = int(astr)
except :
    print("cannnot convert")
    istr = -1

print(istr)

cannnot convert
-1

In [9]:
astr = '123'
try :
    istr = int(astr)
except :
    istr = ("cannot print")
print(istr)

123

In [10]:
astr = 'bob'
try :
    print("hello")
    istr = int(astr)
    print("there")
except :
    istr = -1
print("done",istr)

hello
done -1

In [12]:
hour = input("Enter Hours: ")
rate = input("Enter Rate: ")
try :
    hour = int(hour)
    rate = int(rate)
    print(f"pay: {hour*rate}")
except :
    print("error, please enter numeric value!")

Enter Hours:  10
Enter Rate:  10

pay: 100

### Loop and Iteration

In [14]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

### Strings

In [4]:
s = "hello"
print(s[4])
print(len(s))

o
5

In [8]:
fruit = 'banana'
index = 0
for index in range(len(fruit)) :
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [10]:
for i in fruit :
    print(i)

b
a
n
a
n
a

In [14]:
x = "banana"
j = 0
for i in fruit :
    if i == "a":
        j += 1
print(j)

3

In [15]:
x.count('a')

3

In [17]:
x[0:4]

'bana'

In [20]:
x = "monty python"
print(x[0:4])
print(x[6:7])
print(x[:])

mont
p
monty python

In [21]:
'n' in x

True

In [24]:
x = 'KRISHNAV'
z = x.lower()
print(z)
y = z.upper()
print(y)
m = y.title()
print(m)

krishnav
KRISHNAV
Krishnav

In [26]:
print('krishnav'.title())

Krishnav

In [29]:
print(x.find("xxx"))

-1

In [33]:
ss = '      hfhg   '
print(ss.lstrip())
print(ss.strip())

hfhg
hfhg

In [34]:
line = "hello naman"
line.startswith("hello")

True

In [6]:
lis = ['naman','ashish']
lis.append('kritartha')
for i in lis :
    print('hello',i)

hello naman
hello ashish
hello kritartha

In [ ]:
dict()

In [4]:
purse = dict()
purse['money'] = 12
purse['candy'] = 2
purse['tissues'] = 100
purse['name'] = 'Laman'
print(purse)
purse['candy'] = 78
print(purse)

{'money': 12, 'candy': 2, 'tissues': 100, 'name': 'Laman'}
{'money': 12, 'candy': 78, 'tissues': 100, 'name': 'Laman'}

In [11]:
ccc = dict()
ccc['sea'] = 1
ccc['hunger'] = 1
print(ccc)
ccc['hunger'] = ccc['hunger'] + 1
print(ccc)
'sea' in ccc

{'sea': 1, 'hunger': 1}
{'sea': 1, 'hunger': 2}

True

In [10]:
ddd = dict()
'sea' in ddd

False

In [15]:
count = dict()
names = ['sea','hunger','sea','queen','hunger']
for name in names :
    if name not in count :
        count[name] = 1
    else :
        count[name] = count[name] + 1
print(count)

{'sea': 2, 'hunger': 2, 'queen': 1}

In [1]:
count = dict()
line = input("enter a line of text:")
words = line.split()
print('Words:',words)
print('counting...')
for word in words :
    count[word] = count.get(word,0) + 1
print('Counts',count)

enter a line of text: ashish ben ka lora

Words: ['ashish', 'ben', 'ka', 'lora']
counting...
Counts {'ashish': 1, 'ben': 1, 'ka': 1, 'lora': 1}

### OOPs

In [2]:
class naman :
    name = 'naman'
n1 = naman()
print(n1.name)

naman

In [ ]:
class abc :
    name = 'ashish'
class abc extends def :
    naam = 'krishnav'

### -----> object initialization

In [13]:
class Student :
    #constructor function
    def __init__(self, name, age, branch) :
        #object initialization
        self.name = name
        self.age = age
        self.branch = branch

    def display(self) :
        print(f"student name: {self.name} age: {self.age} branch: {self.branch} ")

#create an object (initialization happens here)
s1 = Student("ravi",20,"cse")
s2 = Student("naman",40,"ece")

s1.display()
s2.display()

s3 = Student(a,b,c)


while(1) :
    a = input("enter student name:")
    b = int(input('Enter age: '))
    c = input('Enter branch: ')
    if(a == "exit") :
        break
    else :
        s3(a,b,c)
        s3.display()

student name: ravi age: 20 branch: cse
student name: naman age: 40 branch: ece

enter student name: exit

In [8]:
#parent class
class Animal :
    def __init__(self,name) :
        self.name = name
    def eat(self) :
        print(self.name + ' is eating')
#child class 
class dog(Animal) :
    def bark(self):
        print(self.name + ' is barking')

dog1 = dog('dhyan')
dog1.eat() #inherieted from animal
dog1.bark() #defined in dog

dhyan is eating
dhyan is barking

In [10]:
#parent class
class Animal :
    def __init__(self,name) :
        self.name = name
    def eat(self) :
        print(self.name + ' is eating')
    def sleep(self) :
        print(self.name + " is sleeping")
#child class 
class dog(Animal) :
    def bark(self):
        print(self.name + ' is barking')

class cat(Animal) :
    def meow(self) :
        print(self.name + " is a pussy cat")

class cow(Animal) :
    def mooo(self):
        print(self.name + " gives milk")

class bihari(Animal) :
    def pan(self) :
        print(self.name + " is a bihari")

dog1 = dog('dhyandeep')
cat1 = cat("naman")
cow1 = cow('kritartha')
bihari1 = bihari('ashish')

dog1.bark()
cat1.meow()
cow1.mooo()
bihari1.pan()

dhyandeep is barking
naman is a pussy cat
kritartha gives milk
ashish is a bihari

In [15]:
class Animal :
    def speak(self) :
        return "some sound"

class dog(Animal) :
    def speak(self) :
        return "bark"

class cat(Animal) :
    def speak(self) :
        return "meow"

class cow(Animal) :
    def speak(self) :
        return "mooo"

def animal_sound(animal) :  #funtion that demonstrates polymorphism
    print(animal.speak())


dog = dog()
cat = cat()
cow = cow()

animal_sound(dog)
animal_sound(cat)
animal_sound(cow)

bark
meow
mooo

### Function overloading

In [17]:
class mathOperation :
    def add(self, a=0, b=0, c=0):
        return a+b+c
math = mathOperation
print(math.add(5,10))
print(math.add(5,4,10))
print(math.add(5))

10
14
0